@use '../../scss/settings/colors';
@use '../../scss/settings/variables';

.form-header {
  padding: 35px 540px 35px 140px;
  background-color: colors.$color-yellow;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  &__title{
    font-size: variables.$fs-title-l;
    font-weight: 600;
  }
  &__text{
    font-size: variables.$fs-text-xxxl;
    line-height: 1.35;
  }
}