@use '../../scss/settings/variables';

.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
  url("src/assets/Background-Contact-Form.jpg");
  height: 1112px;
  padding: 140px;

  &__success{
    color: green;
    text-align: center;
    font-size: variables.$fs-text-xl;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__input-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;
  }

  &__button-wrapper{
    align-self: flex-end;
  }

}